.Main {
  text-align: center;
  margin-top: 5rem;
}

.Input {
  display: inline-block;
  font: inherit;
  padding:20px;
  border: 2px solid black;
  border-radius:10px;
  margin-right: 1rem;
  cursor: pointer;
  background: #caccd1;
}


button {
  display: inline-block;
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  background: #003666;
  color: white;
}

button:hover {
  background: #050f2c;
  color: white;
}
